<%= simple_form_for([puenteo,bitacora]) do |form| %>
<div class="container">
	<%= form.input :accion %>
	<%= form.input :descripcion %>
</div>

<div id="attachments">
	<%= form.input :adjunto, as: :file, label: "Adjuntos" %>
</div>

<%= form.button :submit, class: "btn btn-primary" %>

<% end %>